body {background-color:#27294e;
    text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
h1 {color: #45455b}
form {color: #d0d0d3;
    border: 5px solid ;
    margin: auto;
    width: 20%;
    border-radius: 20px;
    background-color: #efefef;}
.segmento {color: #45455b;}
div {margin-top: 300px;}
input [type=text]{
    background-color: rgba(218, 30, 30, 0);
    margin: 5px;
    border-radius: 5px;}
::placeholder{color: #0f0e417e;}
label {padding: 15px;}
button {color: #e0e0f5;
    border-color: #45455b;
    cursor:pointer;
    border-radius: 4px;
    background-color: #45455be0;
    margin: 10px;}
