* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#27294e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background:  #efefef;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.6s ease;
    margin: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
    color:#45455b;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background: #27294e;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.login-container button:hover {
    background: #1f203d;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-15px); }
    to { opacity: 1; transform: translateY(0); }
}

#souMembro{
    font-size: medium;
    color: #0e1c35;
    text-decoration: none;
    background-color: #152a5000;
    transition: transform 0.3s ease;
    
}

#souMembro:hover{
    color: #132647;
    transform: scale(1.1);
}